{{define "ruser"}}
{{template "header"}}
{{template "navbar"}}
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading text-left">{{.Data.user.RealRole}}</div>
            <div class="panel-body" text-center>
            {{.Data.user.Username}}
            {{if .Data.user.RealLabel.Valid}}
            <p>Συνδεδεμένος με {{.Data.user.RealLabel.Value}}</p>
            {{end}}
            {{if not .Data.user.RealLabel.Valid}}
            <p>Δεν υπάρχει σύνδεση με βάση</p>
            {{end}}
            </div>
            <div class="panel-footer text-center">
                <form class="form-inline" action="deleteuser" method="POST">
                    <input type="hidden" name="id" value={{.Data.user.ID}}>
                    <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        Διαγραφή χρήστη</button>    
                </form>
            </div>
        </div>
    </div>
</div>
    <p class="text-info">{{.Context.Message}}</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#changepass">Αλλαγή κωδικού</a></li>
        <li><a data-toggle="tab" href="#dbconnection">Σύνδεση με βάση</a></li>
        <li><a data-toggle="tab" href="#xrewsiatomou">Σύνδεση λογαριασμού σε φυσικό πρόσωπο</a></li>
    </ul>    
<div class="tab-content">
    <div id="changepass" class="tab-pane fade active">
        <h4>Αλλαγή κωδικού πρόσβασης</h4>
        <form class="form-inline" action="changepass" method="POST">
            <div class="form-group">
                <input class="form-control" type="password" required name="password1" placeholder="Κωδικός"> 
            </div>
            <div class="form-group">
                <input class="form-control" type="password" required name="password2" placeholder="Επιβεβαίωση κωδικού">    
            </div>
            <input type="hidden" name="username" value={{.Data.user.Username}}>
            <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                 Αλλαγή κωδικού</button>
        </form>
    </div>

    <div id="dbconnection" class="tab-pane fade">
        <h4>Σύνδεση με βάσεις</h4>
        <form class="form-inline" action="updateuserlabel" method="POST">
            <div class="form-group">
                <select class="form-control" name="label">
                    {{range .Data.ierarxia}}
                    <option value={{.ID}}>{{.Name}}</option>
                    {{end}}
                </select>            
            </div>
            <input type="hidden" name="id" value={{.Data.user.ID}}>
            <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-saved"></span>
                Αποθήκευση</button>
        </form>
    </div>

    <div id="xrewsiatomou" class="tab-pane fade">
        <h4>Χρέωση λογαριασμού σε φυσικό πρόσωπο</h4>
        <form class="form-inline" method="POST" action="/xrewsilogariasmou">
            <div class="form-group">
                <select class="form-control" name="idperson">
                    {{range .Data.Proswpiko}}
                    <option value={{.ID}}>{{.Surname}} {{.Name}}</option>
                    {{end}}
                </select>
                <input type="hidden" name="idaccount" value={{.Data.user.ID}}>
                <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}> 
            </div>
        </form>
    </div>
</div>
{{template "footer"}}
<script src="js/bootstrap.min.js"></script>
{{end}}